.text-align{
    margin: 0 auto;
}

.btn{
    position: absolute;
    top: 20px;
    right: 0;
}

.hanbagar-list{
    padding-right: 20px;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
}

.line{
    transition: all 0.6s;
    position: absolute;
    left: 10px;
    width: 20px;
    height: 2px;
    background-color: #000;
}


.line1{
    top: 11px;
}

.line2{
    top: 19px;
}

.line3{
    top: 27px;
}

.click .line1{
    top: 20px;
    transform: rotate(45deg);
}

.click .line2{
    width: 0px;
}

.click .line3{
    top: 20px;
    transform: rotate(-45deg);
}

.header-btn-list{
    transition: all 0.8s;
    z-index: 3;
    opacity: 0.9;
    position: absolute;
    right: -110%;
    width: 100%;
    background-color:rgba(255, 255, 255, 1);
}

.clicked{
    right: 0px;
}

.header-btn-list li{
    padding: 15px 0 15px 20px;
    font-size: 14px;
    border-bottom : 1px solid #333333;

}

/* 共通部分 */
.h2-title{
    margin: 30px 0 30px;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    font-size: 2rem;
    text-align: center;
}

.h2-title  span{
    vertical-align: -5px;
    display: inline-block;
    color: #60A66D;
    font-size: 4rem;
}

.menu-eria{
    margin-bottom: 40px;
}

.menu-eria h3{
    margin-right: 2px;
    margin-top: 30px;
    width: 120px;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 15px;
}

.menu-eria h3:first-of-type{
    margin-top: 0;
}

.menu-eria span{
    vertical-align: 6px;
    display:inline-block;
    width: 170px;
    border-bottom: 3px solid #262626;
}


.menu-eria dt{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.menu-eria dd{
    color: #509E5D;
    font-size: 1.2rem;
    padding-bottom: 30px;
    border-bottom: 1.5px solid #424242;
}

.menu-eria dl{
    margin-bottom: 15px;
}

.menu-eria p{
    line-height: 1.7rem;
    font-size: 1.1rem;
}