html{
    font-size: 62.5%;
}



body{
    font-family: 'khmer MN','Noto sans CJK JP';
}

img{
    max-width: 100%;
    height: auto;
}

.pc{
    display: none;
}

@media  screen and (min-width:680px){
    .sp{
        display: none;
    }

    .pc{
        display: block;
    }
}